.custom-navbar {
    background-color:  #380404 !important;
  }

.navbar-nav .nav-link{
  color: white !important;}

.navbar-nav .nav-link:hover{
  color: #F7F7F7 !important;}

.quote-box{
  background-color:  #380404;
  color: white;
  padding: 30px 15px;
  margin: 60px auto;
  max-width: 750px;
  border: 6px solid  #ffffff;
  border-radius: 12px;}


.about-image{
    width: 100%;
    max-width: 420px;
    height: auto;
    object-fit: cover;
    border: 10px solid  #380404;
    border-radius: 40px;
    display: block; }

.about-box{
    background-color: #380404;  
    color: rgb(255, 255, 255);                
    max-width: 700px;
    margin: 0 0 20px 0;  
    padding: 20px;
    font-size: 22px;
    line-height: 1.8;
    text-align: center;
    border: 2px solid  hsl(0, 0%, 100%);
    border-radius: 12px;
  }

.skills-box{
    background-color: #380404;  
    color: rgb(255, 255, 255);                
    max-width: 600px;
    margin:  20px;  
    padding: 25px;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    border: 2px solid  hsl(0, 0%, 100%);
    border-radius: 10px; }

.expirience-box{
    background-color: #380404;  
    color: rgb(255, 255, 255);                
    max-width: 600px;
    margin:  0px;  
    padding: 25px 30px;
    font-size: 20px;
    line-height: 1.4;
    text-align: left;
    border: 2px solid  hsl(0, 0%, 100%);
    border-radius: 10px; }

.resume-section{
    text-align: center;
    padding: 60px 20px;
}


.resume-box{
    background-color: #380404;
    border: 2px solid white;
    border-radius: 14px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.resume-box iframe{
    width: 100%;
    height: 900px;
    border: none;
    border-radius: 8px;
}

.resume-box2{
    background-color: #380404;
    border: 2px solid white;
    border-radius: 14px;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px 10px 0px 10px;
}

.resume-box3{
    background-color: #380404;
    border: 2px solid white;
    border-radius: 14px;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px 10px 0px 10px;
}

.resume-box3 iframe{
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
}

.resume-box3{
    background-color: #380404;
    border: 2px solid white;
    border-radius: 14px;
    max-width: 900px;
    margin: 0 auto;
    padding: 5px 10px 0px 10px;
}

.resume-box3 iframe{
    width: 100%;
    height: 500px;
    border: none;
    border-radius: 8px;
}


.resume-box2 iframe{
    width: 100%;
    height: 600px;
    border: none;
    border-radius: 8px;
}


.download-box{
    background-color: #380404;
    border: 2px solid white;
    border-radius: 14px;
    max-width: 300px;
    margin: 30px auto 0 auto;
    padding: 20px;
}


.download-box2{
    background-color: #380404;
    border: 2px solid white;
    border-radius: 14px;
    max-width: 300px;
    margin: 30px auto 0 auto;
    padding: 20px;
}
.download-button{
    display: inline-block;
    background-color: white;
    color: #380404;
    font-weight: 700;
    padding: 12px 22px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.poster-box{
    background-color: #380404;  
    color: rgb(255, 255, 255);                
    max-width: 600px;
    margin:  0px;  
    padding: 25px 30px;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    border: 2px solid  hsl(0, 0%, 100%);
    border-radius: 10px; }

.download-button:hover{
    background-color: #d9d9d9;
}


.course-box{
    background-color: #380404;  
    color: rgb(255, 255, 255);                
    max-width: 700px;
    margin: 0 0 20px 0;  
    padding: 20px;
    font-size: 22px;
    line-height: 1.8;
    text-align: center;
    border: 2px solid  hsl(0, 0%, 100%);
    border-radius: 12px;}

.table-box{
    background-color: #380404;  
    color: rgb(255, 255, 255);                
    max-width: 800px;
    margin: 0 auto;  
    padding: 20px;
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    border: 2px solid  hsl(0, 0%, 100%);
    border-radius: 8px;}
    

.blockquote-footer cite{
    color: white;
    font-style: small;
    font-size: 20px;     
    font-weight: 600;}

.div {
  width: 300px;
  border: 15px solid  #000000;
  padding: 50px;
  margin: 20px; }

.form-box {
  background-color: #380404;
  color: rgb(255, 255, 255);   
    border: 2px solid white;
    border-radius: 14px;
    max-width: 300px;
    margin: 30px auto 0 auto;
    text-align: center;
    padding: 50px 30px 50px 30px; }

.contact-box {
   background-color: #380404;
  color: rgb(255, 255, 255);   
    border: 2px solid white;
    border-radius: 14px;
    max-width: 300px;
    margin: 30px auto 0 auto;
    text-align: left;
    padding: 50px 30px 50px 30px; }

.contact-link{
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.contact-link:hover{
    color: #ffdede;
    text-decoration: underline;
}

.custom-footer{
  background-color: #380404;
  color: white;
  padding: 40px 20px;
  margin-top: 60px;}

.custom-footer p{
  font-size: 18px;
}

.footer-link{
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.footer-link:hover{
  text-decoration: underline;
}

.bg-success {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important; }